.summoner_column {
    display:flex;
    flex-direction: column;
    background-color: red;
    border-radius: 25px;
}

.summoner_level  {
    display:flex;
    justify-content: center;
    background-color: black;
    color:white;
    border-radius: 25px;
    font-size:1.5vh;
    width:4vh;
    position:relative;
    left:14vh;
    bottom: 2vh;
}

.summoner_name {
    position: relative;
    bottom:3vh;
}

.icon img{
    margin-top: 5vh;
    width: 50%;
    height: 50%;
    border-radius: 100px;
}