.score {
    display: flex;
}

.champion_icon {
    width: 25%;
}

.champion_icon img {
    display:flex;
    justify-content: flex-start;
    width: 150%;
    border-radius: 25px;
}

.champion_level {
    display:flex;
    justify-content: flex-start;
    background-color: black;
    color:white;
    border-radius: 5px;
    font-size: 1.5vh;
    width:3vh;
    text-align: center;
    position: relative;
    height:2vh;
    top:4.8vh;
    left:1.6vh;
    text-align: center;
} 

.champion_itens {
    display:flex;
}

.champion_summoners_spells {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.3vh;
}

.champion_summoners_spells_1 img {
    border-radius: 5px;
    width: 60%;
}

.champion_summoners_spells_2 img {
    border-radius: 5px;
    width: 60%;
}

.champion_score {
    display: flex;
    color: white;
    align-items: center;
}

.champion_itens {
    margin-left: 1vh;
    display: flex;
    align-items: center;
}

.champion_itens img{
    display: flex;
    border-radius: 5px;
    width: 65%;
}

.blank_item_spot {
    color: #424254;
    background-color: #676777;
    width: 17px;
    height: 17px;
}