.navbar {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #424254;
    height: 7vh;
}

.link {
    text-decoration: none;
    color:#FA1505;
    font-size: 2vh;
}

.link:hover {
    background-color: blue;
}