.summoner_info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img{
    margin-top: 5vh;
    width: 25%;
    height: 25%;
    border-radius: 100px;
    position:relative;
}

.match_history {
    background-color: blue;
    display:flex;
    flex-direction: column;
    border-radius: 34px;
    width: 50vh;
} 