.NameForm form input {
    margin-top: 2vh;
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    width: 20vh;
    height: 3vh;
    font-size: 2,5vh;
    margin-bottom: 2vh;
    outline: none;
    background-color: rgb(219, 215, 215);
}

.NameForm form button {
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    width: 10vh;
    height: 3.1vh;
    background-color: red;
    color:white;
}